@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #00ffff;
    --background-color-light: #faf8f2;
    --text-color: #2a2824;
    font-family: "Cormorant Infant", serif;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    margin: 20px 10px;
    border: 1px solid burlywood;
    padding: 5px;
    color: var(--text-color);
}

p {
    color: blue;
}

img {
    display: block;
    width: 100%;
}

iframe {
    width: 100%;
}